.fallback{
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center
}

.fallback .spinner{
    width: 80px;
    height: 80px;
    border: 5px solid #bdbdbd;
    border-top-color: tomato;
    place-self: center;
    border-radius: 50%;
    animation: rotate 1s infinite;
}